{{ this.beginPage() }}
<!DOCTYPE html>
<html lang="{{app.language}}">
<head>
	<meta charset=""/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<?= Html::csrfMetaTags() ?>
	<title>{{ this.title }}</title>
	{{ this.head() }}
</head>
<body>
	
	{{ this.beginBody() }}
	<div class="wrapper">
		
		{{use('yii\bootstrap\Nav;')}}
		{{use('yii\bootstrap\NavBar;')}}

		{{ use('yii/bootstrap') }}
		{{ nav_bar_begin({'brandLabel': app.name, 'options':{'class':'navbar-inverse'} }) }}
		{{ nav_widget({
			'options': {
				'class': 'navbar-nav navbar-right ',
			},
			'items':  [
				{'label' : 'Home', 'url' : ['/core/site/index']},
				{'label' : 'Login', 'url' : ['/user/account/login']}
			]
		}) }}
		{{ nav_bar_end() }}

		<div class="container">
			
			<!-- flash messages -->
			<div class='flash-messages'>
				{{ use('/neon/admin/widgets') }}
				{{ admin_flash_widget() }}
			</div>

			{{ content | raw }}


		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<p class="pull-left">
				© Newicon Ltd {{date().format('Y')}}
			</p>
		</div>
	</footer>
	{{ this.endBody() }}
	<div class="neon-debug">
		{{ app.debugPrint() }}
	</div>
</body>
</html>
{{ this.endPage() }}
