.ico-about-us { background: url(../images/icons/micro/about-us.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px;  }
.ico-ai { background: url(../images/icons/micro/ai.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px;  }
.ico-approach { background: url(../images/icons/micro/approach.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px;  }
.ico-architecture { background: url(../images/icons/micro/architecture.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px;  }
.ico-process { background: url(../images/icons/micro/process.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px;  }
.ico-arvr { background: url(../images/icons/micro/arvr.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px;  }
.ico-blog { background: url(../images/icons/micro/blog.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-branding { background: url(../images/icons/micro/branding.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-cloud-compute { background: url(../images/icons/micro/cloud-compute.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-cloud-database { background: url(../images/icons/micro/cloud-database.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-contact { background: url(../images/icons/micro/contact.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-culture { background: url(../images/icons/micro/culture.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-digital-marketing { background: url(../images/icons/micro/digital-marketing.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-digital-transformation { background: url(../images/icons/micro/digital-transformation.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-dna { background: url(../images/icons/micro/dna.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-ecommerce { background: url(../images/icons/micro/ecommerce.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-enterprise { background: url(../images/icons/micro/enterprise.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-history { background: url(../images/icons/micro/history.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-illustration { background: url(../images/icons/micro/illustration.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-join { background: url(../images/icons/micro/join.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-neon { background: url(../images/icons/micro/neon.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-pitchdecks { background: url(../images/icons/micro/pitchdecks.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-pizza { background: url(../images/icons/micro/pizza.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-sme { background: url(../images/icons/micro/sme.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-social-media { background: url(../images/icons/micro/social-media.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-software-dev { background: url(../images/icons/micro/software-dev.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-startup { background: url(../images/icons/micro/startup.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-support { background: url(../images/icons/micro/support.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-team { background: url(../images/icons/micro/team.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-technologies { background: url(../images/icons/micro/technologies.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-tick { background: url(../images/icons/micro/tick.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-web-dev { background: url(../images/icons/micro/web-dev.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-work { background: url(../images/icons/micro/work.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }
.ico-writing { background: url(../images/icons/micro/writing.svg) no-repeat 0 0; background-size: 100% 100%; width: 34px; height: 34px; display: inline-block; vertical-align: middle; font-size: 0px; }